body {
	
}

.content {
	margin: 1em;
}

#brandbar {
	width: 100%;
	height: 60px;
	overflow: hidden;
	text-align: center;
	background-color: #222;
}

#brandbar h1 {
	font-size: 2em;
	margin: 20px 0px;
}

#ammopreview {
	margin: 3em;
	padding: 1em 0em;
}

#ammopreview h1 {
	margin: 0em 1em;
}

#lobby, #game {
	display: none;
}